body * {
	font-family: 'Open Sans', Helvetica, Verdana, sans-serif;
}

.navbar {
    margin-bottom: 0px;
    min-height: 30px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand {
    padding: 10px 10px;
}

#map-container {
    height: 400px;
}