body * {
	font-family: 'Open Sans', Helvetica, Verdana, sans-serif;
}

.navbar {
    margin-bottom: 0px;
    min-height: 30px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand {
    padding: 10px 10px;
}

#map-container {
    height: 400px;
    margin: 5px 0px 20px 0px;
}

.list-group-item {
    padding-top: 7px;
    padding-bottom: 7px;
}

.thumbnail {
    text-align: center;
    margin-bottom: 6px;
}