<!DOCTYPE html>
<html ng-app="laz-alpleri">
    <head>
        <title>Laz Alpleri 2013 - Keşler Grubu / Mala Bağlayanlar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css' media='screen'>
        <link href="css/colorbox.css" rel="stylesheet" media="screen">
        <link href="css/styles.css" rel="stylesheet" media="screen">
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="/">Laz Alpleri 2013</a>
            </div>
        </div>
        <div class="container" ng-controller="LazAlpleriController">
            <div class="row">
                <div class="col-lg-12">
                    <div id="map-container">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-group">
                        <a href="/go/{{action.key}}" id="action_{{action.key}}" class="list-group-item navigation-link" ng-repeat="action in actions" title='{{getNavigationLinkTooltip(action)}}'>
                            <span class="glyphicon" ng-class="{'glyphicon-home': action.type == 'Stay', 'glyphicon-arrow-right': action.type == 'Travel'}"></span> {{action.name}}
                        </a>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="col-lg-3" ng-repeat="photo in galleryPhotos">
                        <a href="http://i.imgur.com/{{photo.ih}}.jpg" class="thumbnail"><img src="http://i.imgur.com/{{photo.ih}}b.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://maps.google.com/maps/api/js?sensor=false&language=tr&region=TR" type="text/javascript"></script>
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/jquery.colorbox-min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/paths.js"></script>
        <script src="js/photos.js"></script>
        <script src="js/actions.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>